@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






.cabecalho {
    position: relative;
    width: 100%;
    height: 93px;
    display: flex;
    background: #000000;
    box-sizing: border-box;
}

.cabecalho_menu {

    position: relative;
    display: flex;
    left: 350px;
    top: 46px;
    gap: 80px;

}

.cabecalho_menu_link {

    font-family: 'Gugi';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;

    color: #FFFFFF;

}

.download {


    position: absolute;
    width: 180px;
    height: 41px;
    left: 1150px;
    top: 38px;

    background: #46B4CF;
    border-radius: 94px;



}

.download_botao {

    position: absolute;
    width: 142px;
    height: 26px;
    left: 1170px;
    top: 45px;

    font-family: 'Gugi';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;

    color: #FFFFFF;


}

.logo {

    position: absolute;
    width: 201px;
    height: 93px;
    left: 0px;
    top: 0px;
}

.fundo {

    position: absolute;
    width: 100%;
    display: flex;
    left: 0px;
    top: 45px;
}

.container-slide {

    position: absolute;
    width: 100%;
    height: 288px;
    top: 100px;
    background: rgba(0, 0, 0, 0.71);

}

.sliderbar {}

.logocentro {

    position: absolute;
    display: flex;
    top: 250px;
    width: 100%;
    height: 735px;
    opacity: 60%;

}

media (max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }
    
    .cabecalho__menu{
        justify-content: center;
    }